* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    transition: 0.4s ease;
}

/* Light Theme */
.light {
    background-color: white;
    color: black;
}

/* Dark Theme */
.dark {
    background-color: #121212;
    color: white;
}

.container {
    text-align: center;
    margin-top: 150px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}